/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./assets/calender.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 100%;
}